.jumbotron{
    padding: 0;
    margin: 0;
    background: url("images/jumbotron.png") center center;
    height: 100vh;
    background-size: cover;
}

.jumbotron-text{
    color: #fff;
    margin-top: 260px;
    font-weight: bold;
}

.desc{
    font-size: 16px;
}

.button{
    height: 50px;
    width: 170px;
    background-color: #16a085;
    color: #fff;
    border: none;
    font-size: 12px;
    margin-top: 25px;
}

.icon{
    margin-left:calc(50% - 15px);
    margin-top: 150px;
}