.navbar-center{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 760px;
    text-align: center; 
    font-size: 16px;

    li{
        width: 20%;
        @media(max-width:768px){
            &:nth-child(3){
                display: none;
            }
        }
    }
}


.nav-link{
    padding-top: 25px;
}

@media(max-width: 768px){
    .navbar{
        padding: 0 !important;
    }

    ul{
        width: 100% !important; 
      
        li{
            width: 100% !important;
        }
    }

    .hamburger{
        margin-left:  calc(50% - 50px);
    }
}


