@import "mixin.scss";

.row_phone{
   @include row_section(490px,#f5f6f7);
}

.phone_title{
    @include title(#16a085,18px);
}

.phone_desc{
    text-align: right;
    font-size: 12px;
}

.phone_margin{
    margin-top: 115px;
}

.section_desc_margin{
    margin-top: 40px; 
}

.button_phone{
    @include button(0);
}

