@import "mixins.scss";

.row_phone{
   @include row_section(490px,#f5f6f7);

   @media(max-width: 1140px) and (min-width: 769px){
       height: 550px;
   }

   @media(max-width: 768px){
       height: 850px;
   }

   @media(orientation: landscape) and (max-width: 768px){
       height: 900px;
   }
}

.phone_title{
    @include title(#16a085,18px);
}

.phone_desc{
    text-align: right;
    font-size: 12px;
}

.phone_margin{
    margin-top: 115px;
}

.section_desc_margin{
    margin-top: 40px; 
}

.button_phone{
    @include button(0);
}

@media(max-width: 1140px) and (min-width: 769px){
    .md_phone_margin{
        margin-top: 115px;
    }
}

