@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
* {
  font-family: "Lexend Giga", sans-serif;
}

.navbar-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 760px;
  text-align: center;
  font-size: 16px;
}
.navbar-center li {
  width: 20%;
}
@media (max-width: 768px) {
  .navbar-center li:nth-child(3) {
    display: none;
  }
}
.navbar-center span {
  color: #fff;
}

.navbar {
  background-color: transparent !important;
}

.nav-link {
  padding-top: 25px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 !important;
  }

  ul {
    width: 100% !important;
  }
  ul li {
    width: 100% !important;
  }

  .hamburger {
    margin-left: calc(50% - 50px);
  }
}
.jumbotron {
  padding: 0;
  margin: 0;
  background: url("images/jumbotron.png") center center;
  height: 100vh;
  background-size: cover;
}
@media (orientation: landscape) and (max-width: 768px) {
  .jumbotron {
    height: 150vh;
  }
}

.jumbotron-text {
  color: #fff;
  margin-top: 260px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .jumbotron-text {
    margin-top: 60px;
  }
}
@media (orientation: landscape) and (max-width: 768px) {
  .jumbotron-text {
    margin-top: 30px;
  }
}

.title {
  text-align: center;
}

.desc {
  font-size: 16px;
  text-align: center;
}

.button_jumbotron {
  height: 50px;
  width: 170px;
  background-color: #16a085;
  color: #fff;
  border: none;
  font-size: 12px;
  margin-top: 25px;
  margin-left: calc(50% - 85px);
}

.icon {
  margin-top: 150px;
  margin-left: calc(50% - 42px);
}
@media (orientation: landscape) and (max-width: 768px) {
  .icon {
    margin-top: 50px;
  }
}

.row_phone {
  width: 100%;
  height: 490px;
  background-color: #f5f6f7;
}
@media (orientation: landscape) and (max-width: 768px) {
  .row_phone {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .row_phone {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .row_phone {
    height: 850px;
  }
}
@media (orientation: landscape) and (max-width: 768px) {
  .row_phone {
    height: 900px;
  }
}

.phone_title {
  color: #16a085;
  font-size: 18px;
}

.phone_desc {
  text-align: right;
  font-size: 12px;
}

.phone_margin {
  margin-top: 115px;
}

.section_desc_margin {
  margin-top: 40px;
}

.button_phone {
  height: 50px;
  width: 170px;
  background-color: #16a085;
  color: #fff;
  border: none;
  font-size: 12px;
  margin-top: 25px;
  margin-left: 0;
}

.row_design {
  width: 100%;
  height: 560px;
  background-color: #ffffff;
}
@media (orientation: landscape) and (max-width: 768px) {
  .row_design {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .row_design {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .row_design {
    height: 1000px;
  }
}

.green_phone_margin {
  margin-top: 150px;
}
@media (max-width: 768px) {
  .green_phone_margin {
    margin-top: 60px;
    order: 2;
  }
}

@media (max-width: 768px) {
  .design_desc {
    margin-top: 100px;
    order: 1;
  }
}

.numbers {
  font-size: 10px;
}
@media (max-width: 768px) {
  .numbers {
    margin-right: 2%;
  }
}

.slide_button {
  font-size: 20px;
  letter-spacing: 10px;
  margin-top: 0px;
}

.row_community {
  width: 100%;
  height: 480px;
  background-color: #f5f6f7;
}
@media (orientation: landscape) and (max-width: 768px) {
  .row_community {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .row_community {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .row_community {
    height: 950px;
  }
}

.community_center {
  text-align: center;
  margin-top: 30px;
}

.community_title {
  font-weight: bold;
  margin-top: 30px;
}

.community_desc {
  margin-top: 30px;
  font-size: 12px;
}

.slide_button_community {
  text-align: right;
  font-size: 20px;
  letter-spacing: 10px;
}
@media (max-width: 768px) {
  .slide_button_community {
    margin-top: 40px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .mobile_mt {
    margin-top: 50px;
  }
}

.section_desc_margin {
  padding: 0 !important;
}

.zero_padding {
  padding-left: 0px;
}

/*# sourceMappingURL=style.css.map */
